# macOS system files
.DS_Store

### Maven ###
target/
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/wrapper/maven-wrapper.jar

### Gradle ###
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
gradle-app.setting
.gradle-local/
*.gradle
gradlew
gradlew.bat

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/

### Eclipse ###
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*.swo
*.orig
local.properties
.settings/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs ###
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*